.page {
  scroll-behavior: smooth;
  transition: all 0.3s ease;

  &__body {
    font-family: "Alexandria", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: $page-black-color;

    background-color: #F1EEE9;

    &--menu-open {
      overflow-y: hidden;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    
    @include onMobile {
      position: fixed;
      right: 0;
      left: 0;
    }
  }

  &__acceptCookies {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}