@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.acceptCookies {
  padding: 32px;
  background-color: $page-black-color;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    p {
      max-width: 622px;
      color: #F1EEE9;

      @include onMobile {
        text-align: center;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}