@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.footer {
  color: #F1EEE9;

  background-color: $page-black-color;
  padding: 55px 0 10px;

  @include onMobile {
    padding-bottom: 15px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 64px);
    grid-template-rows: 77px 42px 80px 88px 80px 20px;
    grid-column-gap: 32px;

    @include onMobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    grid-column: 5 / 9;
    grid-row: 1 / 6;

    background-image: url('../../images/components/Footer/footer-img.avif');
    background-size: 125%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: 78%;

    @include onMobile {
      height: 335px;

      background-size: 120%;
      background-position-y: 75%;
    }
  }

  &__section-title {
    grid-column: 1 / 4;

    justify-self: start;
    align-self: flex-end;

    @include onMobile {
      font-size: 40px;

      align-self: start;

      margin-bottom: 24px;
    }
  }

  &__contacts {
    grid-column: 1 / 6;
    grid-row: 3 / 5;

    @include onMobile {
      margin-bottom: 24px;
    }
  }

  &__nav {
    grid-column: 10 / 13;
    grid-row: 4 / 5;
    justify-self: end;
    
    display: flex;
    flex-direction: column;
    gap: 8px;

    text-align: end;

    @include onMobile {
      text-align: left;

      margin-bottom: 80px;
    }
  }

  &__copyright {
    grid-column: 4 / 10;
    grid-row: 6 / 7;

    font-size: 13px;
    text-align: center;

    @include onMobile {
      font-size: 11px;
    }
  }
}